@font-face 
{
  font-family: "robotobold";
  src: url('fonts/Roboto-Bold.ttf');
}

@font-face 
{
  font-family: "robotoblack";
  src: url('fonts/Roboto-Black.ttf');
}

@font-face 
{
  font-family: "robotomedium";
  src: url('fonts/Roboto-Medium.ttf');
}

*
{
  margin: 0px;
  padding: 0px;
}

a
{
  /*Enlève les barres sous les liens*/
  text-decoration: none;
  /*Couleur des liens*/
  color: grey;
  font-family: "robotomedium";
}

ul
{
  /*Enlève les puces*/
  list-style-type: none;
}

p
{
  color: grey;
  font-family: "robotomedium";
}

h2
{
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
  font-family: "robotoblack";
}

h4
{
  font-family: "robotoblack";
  font-size: 27px;
}

/**********  Règles de la partie Header  **********/
 #mobile /*Voir media queries*/
{
  display: none;  
}

header
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*Fixe le header*/
  position: fixed;
  /*Taille du header (width 100% = prendra 100% de la largeur)*/
  width: 100%;
  height: 100px;
  /*Couleur du fond*/
  background: white; 
  z-index: 1;/*Détermine l'ordre des différentes couches que formeront les éléments, dans ce cas le header sura toujours devant*/
}

header ul
{
  display: flex;/*Mets en ligne les liens*/
}

header a
{
  margin: 10px;/*Espace les liens entre eux*/
  font-size: 16px;
}

header a:hover
{
  padding-top: 39px;
  border-top: 4px solid #3491b2;
  /*Couleur du lien en noir*/
  color: black;
}

p
{
  font-size: 15px;
}

h3
{
  font-family: "robotoblack";
  font-size: 20px;
}


/**********  Règles de la partie Slider  **********/
#slider
{
  background: url(images/slider/bg3.jpg);
  height: 680px;
  color: white;
  font-family: "robotoblack";
  font-size: 22px;
  margin-bottom: 100px;
}

#slider h1
{
  padding-left: 260px;
  padding-top: 250px;
}

#slider p
{
  padding-left: 260px;
  padding-top: 35px;
  color: white;
}

#slider span
{
  color: #5cadd3;
}

.bouton
{
  display: block;
  /*Taille du bouton*/
  width: 118px;
  height: 40px;
  background-color: #5cadd3;
  color: white;
  font-size: 18px;
  /*Texte centrer dans le block*/
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  border-bottom: 3px solid #4494bb;
  /*Position du bouton*/
  margin-left: 260px;
  margin-top: 35px;
}

.fa-chevron-left
{
  float: left;
  padding-right: 15px;
  padding-left: 5px;
  /* 1. coin en haut à gauche */
  /* 2. coin en haut à droite */
  /* 3. coin en bas à droite  */
  /* 4. coin en bas à gauche  */ 
  border-radius: 0 50% 50% 0;/*Ici on applique un arrondi en haut et en bas à droite*/
}

.fa-chevron-right
{
  float: right;
  padding-right: 5px;
  padding-left: 15px;
  border-radius: 50% 0 0 50%;
}

.fa-chevron-right, .fa-chevron-left
{
  margin-top: 350px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

/**********  Règles de la partie Services  **********/

/*Cercle bleu*/
.fa-circle
{
  color: #5badd3;
  border: 4px solid white;
  border-radius: 50%;/*Permet la bordure en cercle*/
}

.deco /*Décoration après chaque titre <h2>*/
{
  display: flex;
  justify-content: center;
  padding: 10px;

}

.trait-gauche, .trait-droit
{
  height: 1px;/*Hauteur*/
  width: 58px;/*Largeur*/
  background-color: #a8a8a8;
  margin-top: 12px;
}

.intro
{
  display: flex;
  justify-content: center;
  text-align: center;
}

.liste-services
{
  display: flex;
  flex-direction: column;
  width: 550px;
  margin-top: 60px;
  margin-left: 120px;
}


#container 
{
  display: flex;
  flex-wrap: wrap;/*Les éléments passent à la lignes quand la dimension de l'écran est réduit.*/
  justify-content: center;
  margin-bottom: 50px;
  padding: 50px;
}

.fa-chart-line, .fa-cubes, .fa-chart-pie 
{
  padding: 15px;
  font-size: 25px;
  border: 1px solid #dbdbdb;
  border-radius: 50%;/* Permet la bordure en cercle */
  color: #5cadd3;
}

.icones
{
  position: relative;
  right: 80px;
  bottom: 50px;
}

.icones-pie, .icones-line, .icones-cube
{
  position: relative;
  right: 80px;
  bottom: 50px;
}

.icones-pie .fa-circle, .icones-cube .fa-circle, .icones-line .fa-circle
{
  position: relative;
  right: 12px;
  bottom: 3px;
  font-size: 13px;
}

.ecran
{
  height: 300px;
  width: 490px;
}

/**********  Règles de la partie Projets  **********/
#projets
{
  background-color: #efefef;
  padding-top: 40px;
}

.menu-2
{
  display: flex;
  justify-content: center;
}

.menu-2 ul
{
  background-color: #d6d6d6;
  border-radius: 4px;
  display: flex;
  margin-bottom: 30px;
  margin-top: 50px;
}

/*Taille des boutons*/
.menu-2 li
{
  width: 100px;
  height: 43px;
  border: 2px solid green;
}

.menu-2 a
{
  /*Transforme les liens en boutons*/
  display: block;
  /*Centre verticalement le texte*/
  line-height: 40px;
  display: flex;
  justify-content: center;
  color: #656565;
}

/*Flèches sous les boutons*/
.fa-caret-down
{
  position: relative;
  /*La propriété bottom définit la distance dont le bord bas de l'élément est déplacé au-dessus de sa position normale.*/
  top: 28px;
  right: 28px;
  color: #468cad;
  visibility: hidden;
}

/*Survol des boutons*/
.menu-2 a:hover
{
  background-color: #5cadd3;
  color: white;
  border-bottom: 3px solid #4494bb;
}

.menu-2 a:hover .fa-caret-down 
{
  visibility: visible;
}

#tout a:hover
{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#folio a:hover
{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/**********  PORTFOLIO  **********/
.portfolio 
{
  /*Image de gauche à droite, passage à la ligne et centrer*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
  padding-left: 110px;
  padding-right: 110px;
}

/*Taille des conteneur d'images*/
.image
{ 
  height: 200px;
  margin: 20px;
}

.image img
{
  height: 200px;/*Hauteur des images pour quelles ne dépassent pas du cadre*/
}

.legende
{
  position: relative;/*Permets de décaler horizontalement et/ou verticalement ce qui permets des chevauchements*/
  bottom: 75px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);/*Permets un arrière plan avec 50% de transparence*/
  width: 300px;
  height: 71px;
  visibility: hidden;/*Cache la légende*/
}

/*Affiche la légende au survol de l'image*/
figure:hover figcaption 
{
  visibility: visible;
}

.legende h3
{
  padding-top: 8px;
}

.legende p
{
  font-size: 15px;
  color: white;
}

.legende h3, .legende p
{
  padding-left: 8px;
}

.fa-eye
{
  background-color: #5badd3;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;/*En augmentant les marges intérieures, permets d'agrandir l'image*/
  /*Position de l'oeil*/
  position: relative;
  bottom: 70px;
  left: 240px;
}

/**********  Règles de la partie Contact  **********/
#contact iframe 
{
  width: 100%;/*Largueur 100% l'image prendra la totalité de la largueur.*/
}

#contact 
{
  position: relative;
}

#map
{
  background-color: #5badd3;
  width: 100%;
  position: absolute;/*Pour positionner l’élément par rapport à un parent(en l'occurancent #contact) il suffit de définir la propriété position:relative à ce parent.*/
  display: flex;
  justify-content: flex-end;/*Les éléments s'alignent au côté droit du conteneur.*/
  align-items: center;/*Les éléments s'alignent au centre vertical du conteneur.*/
}

iframe
{
  width: 100%;
  height: 750px;
  opacity: 0.7;
}

form
{
  background-color: rgba(255,255,255, .6);
  width: 300px;
  height: 64%;/*La référence est la hauteur de l’élément parent. 
  Si pas de Hauteur déterminer au parents alors cela ne marchera pas*/
  position: absolute;
  right: 160px;
  padding: 10px;/*Avec une valeur, celle-ci définira la marge pour les quatre côtés de la boîte.*/
  padding-left: 20px; 
  padding-right: 20px;
}

input 
{
  height: 25px;
  padding: 3px;
  margin-bottom: 10px;
}

textarea 
{
  height: 115px;
  padding-top: 10px;
}

input, textarea
{
  width: 95%;
  border-radius: 3px;
  padding-left: 10px;
  margin-top: 15px;
  font-family: "robotomedium";
  border: 1px solid #cccccc;
}

form span
{
  color: #525459;
  font-family: "robotobold";
}

form p
{
  margin-top: 10px;
}

.bouton-2
{
  font-family: "robotobold";
  width: 100px;
  height: 40px;
  background-color: #5cadd3;
  color: white;
  font-size: 17px;
  /*Texte centrer dans le block*/
  text-align: center;
  border-radius: 3px;
  border: 1px solid #5cadd3;
  border-bottom: 3px solid #4494bb;
  padding: 0;
}

/**********  Règles de la partie Footer  **********/
footer
{
  position: absolute;
  top: 750px;
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  flex-direction: column;
}

#icons 
{
  font-size: 30px;
  margin-bottom: 10px;
}

.fa-twitter-square 
{
  color: #3391b2;
}
.fa-google-plus-square 
{
  color: #3391b2;
}

.fa-facebook-square
{
  color: #3391b2;
}

.copyright 
{
  color: grey;
  font-family: "robotomedium";
  font-size: 12px;
}


/**********  Règles des Média Queries **********/
@media screen and (max-width: 780px) /*Petites résolutions*/
{
  #mobile
  {
    display: block;
    background-image: url(images/slider/bg1.jpg);
    background-size: cover;
    width: 100%;
    height: 350px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .message span
  {
    color: #5cadd3;
  }

  .message
  {
    text-align: center;
    color: white;
    font-family: "robotoblack";
    padding: 10px;
  }

  .bouton
  {  
    padding: 7px;
    margin: 0 auto;
    font-size: 13px;
    width: 70px;
    height: 20px;
    line-height: 22px;
    margin-top: 10px;
  }

  #slider
  {
    display: none;
  }

  header
  {
    flex-direction: column;
    height: 140px;
    position: fixed;
    top: 0;
  }

  header a:hover
  {
    border: none;
  }

  header ul, .menu-2 ul
  {
    flex-direction: column;
  }

  header a
  {
    margin: 10px;
  }

  #tout a:hover
  {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
  }

  #folio a:hover
  {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .ecran
  {
    width: 100%;
    height: 70%;
  }

  .fa-chevron-left, .fa-chevron-right
  {
    visibility: hidden;
  }

  .icones-pie
  {
    position: relative;
    left: 10px;
    bottom: 212px;
  }

  .icones-line
  {
    position: relative;
    left: 10px;
    bottom: 160px;
  }

  .icones-cube
  {
    position: relative;
    left: 10px;
    bottom: 175px;
  }
  .fa-chart-line, .fa-cubes, .fa-chart-pie 
  {
    padding: 12px;
    font-size: 15px;
  }

  .icones-pie .fa-circle, .icones-cube .fa-circle, .icones-line .fa-circle
  {
    right: 12px;
    bottom: 1px;
  }

  .service
  {
    text-align: center;
    padding-top: 15px;
    height: 200px;
  }

  .liste-services
  {
    margin: 10%;
    padding-top: 20px;
  }

  form
  {
  left: 19px;
  bottom: 120px;
  width: 85%;
  position: absolute;
  padding: 10px;/*Avec une valeur, celle-ci définira la marge pour les quatre côtés de la boîte.*/
  }

}

@media screen and (max-width: 1024px)
{

  #slider
  {
    background-position: center;
  }


  #services
  {
    padding-top: 150px;
  }

  .fa-chevron-left
{
  display: block;
  float: left;
  margin-top: 350px;
  color: white;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  border-radius: 0 50% 50% 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.fa-chevron-right
{
  display: block;
  float: right;
  margin-top: 350px;
  color: white;
  padding-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-radius: 50% 0 0 50%;
  background-color: rgba(0, 0, 0, 0.2);
}
}
